#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    background-color: antiquewhite;
}
.box-input{
    display: flex;
    justify-content: space-between;
}
.box-input-text{
    padding: 12px;
    margin: 10px;
    border: 1px solid black;
}
.add-button{
    background-color: aquamarine;
    padding: 12px;
    cursor: pointer;
}
#list {
    display: flex;
    flex-direction: column;
}
#list h2 {
    border: 3px solid greenyellow;
    color: blue;
    padding: 12px;
}